html {
    height: 100%;
    background: radial-gradient(circle, #fff, #bbb);
    font-size: 16px;
}

#container {
    height: 500px;
    width: 600px;
    background-color:skyblue;
    border-radius: 15px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 5px 5px 3px #6691d6;
    -moz-box-shadow: 5px 5px 3px #6691d6;
    -webkit-box-shadow: 5px 5px 3px #6691d6;
    position: relative;
}

#score {
    background-color: #f2ef5c;
    color: #66522a;
    font-size: 1.5rem;
    font-family: fantasy;
    padding: 10px;
    position: absolute;
    left: 500px;
    border-radius: 6px;
    box-shadow: 0 4px 3px #877428;
    -moz-box-shadow: 0 4px 3px #877428;
    -webkit-box-shadow: 0 4px 3px #877428;
}

#correct {
    background-color: #18af31;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: "Ubuntu";
    position: absolute;
    left: 260px;
    display: none;
}

#wrong {
    background-color: #dd0606;
    color: white;
    font-size: 1.5rem;
    font-family: "Ubuntu";
    padding: 10px;
    position: absolute;
    left: 260px;
    display: none;
}

#question {
    height: 150px;
    width: 500px;
    text-align: center;
    font-size: 8rem;
    font-family: "Ubuntu";
    margin: 80px auto 10px auto;
    background-color: #9d7af4;
    box-shadow: 0 5px 2px #6045a5;
    -moz-box-shadow: 0 5px 2px #6045a5;
    -webkit-box-shadow: 0 5px 2px #6045a5;
}

#instructions {
    text-align: center;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    background-color: #8f35ad;
    width: 500px;
    margin: auto;
    padding: 10px 0;
    box-shadow: 0 4px 3px #411251;
    -moz-box-shadow: 0 4px 3px #411251;
    -webkit-box-shadow: 0 4px 3px #411251;
}

#choices {
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px auto;
    justify-content: space-between;
}

.choice {
    width: 85px;
    height: 85px;
    background-color: white;
    display: inline-flex;
    border-radius: 4px;
    box-shadow: 0 4px 2px #444;
    -webkit-box-shadow: 0 4px 2px #444;
    -moz-box-shadow: 0 4px 2px #444;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
}

.choice:hover, #start-reset:hover {
    background-color: #c598f9;
    color: white;
}

.choice:active, #start-reset:active {
    margin-top: 3px;
    box-shadow: 0 0 #8035d6;
}

#start-reset {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 85px;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: 0 4px 2px #444;
    -webkit-box-shadow: 0 4px 2px #8993ba;
    -moz-box-shadow: 0 4px 2px #8993ba;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
}

#time-remaining {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    width: 200px;
    position: absolute;
    top: 490px;
    left: 390px;
    padding: 10px;
    background-color: rgba(68, 244, 48, 0.75);
    border-radius: 4px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
/*    visibility: hidden;*/
    display: none;
}

#game-over {
    height: 200px;
    width: 550px;
    background: linear-gradient(#e85229, #edd042);
    position: absolute;
    top: 180px;
    left: 45px;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    text-transform: uppercase;
    z-index: 2;
    display: none;
}
